.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            
          %li.member
            
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            test-user
          .upper-message__date
            2019/06/27(Thu) 17:50:42
        .lower-meesage
          .lower-message__content
            こんにちは！
      .message
        .upper-message
          .upper-message__user-name
            test-user
          .upper-message__date
            2019/06/27(Thu) 17:53:42
        .lower-meesage
          .lower-message__content
            こんばんは！
      .message
        .upper-message
          .upper-message__user-name
            test-user
          .upper-message__date
            2019/06/27(Thu) 17:50:42
        .lower-meesage
          .lower-message__content
            こんばんは！
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}